/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
@keyframes slide-intro {
    from {
        right: -1000px;
    }
    50% {
        right: -500px;
    }
    to {
        right: 0;
    }
}

#section4 {
    background-size: cover;
    background-image: url(../img/team.png);
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 0 28px 28px;
    margin-left: -230px;
}

.slide {
    position: relative;
    background-size: cover;
}

.slide .intro {
    position: absolute;
    min-height: 14%;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 40px;
}

#slide1 {
    background-image: url(../img/carousel.jpg);
}

#slide1 .intro {
    top: 50%;
    right: -1000px;
    transition: 1s ease;
    transition-delay: 1s;
}

#slide1.active .intro {
    transform: translateX(-1000px);
}

#slide2 {
    background-image: url(../img/team.png);
}

.services {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services:nth-child(1) {
    background-image: url(../img/3d.png);
    top: 0;
    left: 0;
}

.services:nth-child(2) {
    background-image: url(../img/visualization.png);
    top: 0;
    left: 50%;
}

.services:nth-child(3) {
    background-image: url(../img/animation.png);
    top: 50%;
    left: 0;
}

.services:nth-child(4) {
    top: 50%;
    left: 50%;
}


