@keyframes slide-intro {
    from {
        right: -1000px;
    }
    50% {
        right: -500px;
    }
    to {
        right: 0;
    }
}

#section4 {
    background-size: cover;
    background-image: url(../img/team.png);
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 0 28px 28px;
    margin-left: -230px;
}

.slide {
    position: relative;
    background-size: cover;
}

.slide .intro {
    position: absolute;
    min-height: 14%;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 40px;
}

#slide1 {
    background-image: url(../img/carousel.jpg);
}

#slide1 .intro {
    top: 50%;
    right: -1000px;
    transition: 1s ease;
    transition-delay: 1s;
}

#slide1.active .intro {
    transform: translateX(-1000px);
}

#slide2 {
    background-image: url(../img/team.png);
}

.services {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 50%;
}

.services:nth-child(1) {
    background-image: url(../img/3d.png);
}

.services:nth-child(2) {
    background-image: url(../img/visualization.png);
}

.services:nth-child(3) {
    background-image: url(../img/animation.png);
}

footer {
    position: absolute;
    background: #373c43;
    color: #797e86;
    bottom: 0;
    width: 100%;
}
footer .copy {
    /*background: #2a2e34;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;*/
}

.polygon {
    background: url(../img/polygon_back.png) 0 0 no-repeat;
    background-size: contain;
    min-height: 100%;
}

